<div class="homepage-container bg-light-gray-500 h-screen flex flex-col gap-10">

    
    <div class="event-section px-6 pt-4">
        <h2 class="upcoming-header text-3xl font-bold mb-4">Upcoming Events</h2>
        <div class="event-list grid grid-cols 1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {{#each events}}
                {{> eventcard}}
            {{/each}}
        </div>
    </div>

        
    <div class="product-section px-6 pt-4">
        <h2 class="featured-header text-3xl font-bold mb-4">Featured Products</h2>
        <div class="product-list grid grid-cols 1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {{#each products}}
                {{> productcard-home}}
            {{/each}}
        </div>  
    </div>
</div>
