<div
    class="homepage-container flex flex-col overflow-hidden gap-5 p-6 overflow-y-auto"
>
    <div class="event-section px-6 pt-4">
        <button
            class="events-button hover:bg-light-gray-500 rounded cursor-pointer p-2 mb-2"
        >
            <a href="/events">
                <h2 class="featured-header text-3xl font-bold">
                    Upcoming Events
                </h2>
            </a>
        </button>

        <div class="event-list flex gap-6 overflow-x-auto whitespace-nowrap">
            {{#each events}}
            <div class="flex-shrink-0 w-64">{{> eventcard}}</div>
            {{/each}}
        </div>
    </div>

    <div class="product-section px-6 pt-6 pb-28">
        <button
            class="marketplace-button hover:bg-light-gray-500 rounded cursor-pointer p-2 mb-2"
        >
            <a href="/market">
                <h2 class="featured-header text-3xl font-bold">
                    Featured Products
                </h2>
            </a>
        </button>

        <div
            class="product-list flex gap-6 overflow-x-auto mb-6 whitespace-nowrap"
        >
            {{#each products}}
            <div class="flex-shrink-0 w-64">{{> productcard-marketplace}}</div>
            {{/each}}
        </div>
        {{!-- <div class="inline-block">
            <img
                class="product-img max-w-md"
                src="/frontend/assets/icons/feather-light-black/chevron-right.svg"
                alt="View More"
            />
        </div> --}}
    </div>
</div>
