<div
    class="messages-page-container flex flex-1 overflow-hidden"
>
    <aside
        class="senders-section flex flex-col w-[400px] bg-light-orange-500 shadow-lg transition-all duration-500 ease-in-out sticky top-0 overflow-hidden"
        id="sendersSection"
    >
        <div class="senders-list fle flex-col p-2">
            <div class="flex justify-between items-center p-4">
                <h2
                    class="messages-title text-3xl font-bold ml-5 text-shadow-md"
                    id="messagesTitle"
                >
                    Messages
                </h2>
                <button
                    id="toggleSenders"
                    class="text-md shadow-md font-semibold bg-light-gray-500 border border-dark-gray-500 rounded px-2 py-1 cursor-pointer"
                >
                    <span id="toggleSendersIcon">
                        <img
                            src="/frontend/assets/icons/feather-light-black/chevron-left.svg"
                            alt="Toggle Icon"
                        />
                    </span>
                </button>
            </div>
            <div
                id="sendersContent"
                class="senders-list flex flex-col mt-2 gap-0.5 overflow-y-auto"
            >
                {{#each rooms}} {{> sendercard this}} {{/each}} {{#if (eq
                rooms.length 0)}}
                <p class="text-gray-500 text-sm text-center">
                    No chats started
                </p>
                {{/if}}
            </div>
        </div>
    </aside>

    <div id="chatSection" class="bg-light-gray-500 flex flex-col flex-1">
        <div
            class="message-header flex items-center px-4 py-3 border-b bg-dark-gray-500 p-2"
        >
            <img
                class="sender-pfp h-16 w-16 rounded-full mr-3"
                src="/frontend/assets/icons/feather-light-black/user.svg"
            />
            <div class="sender-details flex flex-col w-full">
                <div class="sender-name font-bold text-lg text-light-black-500">
                    {{name}}
                </div>
            </div>
        </div>

        <div class="message-section flex-1 p-4 overflow-y-scroll flex flex-col-reverse">
            {{#each messages}} {{#if isSender}} {{> sendermessage }} {{else}}
            {{> recipientmessage}} {{/if}} {{/each}}
        </div>
        <div class="message-form text-light-black-500 m-2 w-full flex justify-center">
            <form
                action="/messages"
                method="POST"
                class="message-input flex  w-xl bg-light-gray-500 border border-light-black-500 self-center rounded-md"
            >
                <input type="hidden" name="room" value="{{roomId}}" />
                <input type="hidden" name="receiver_id" value="{{receiverIdForForm}}" />
                <input
                    type="text"
                    id="messageInput"
                    name="message"
                    class="flex-1 px-4 py-2 focus:outline-none text-light-black-500 resize-none"
                    rows="1"
                    placeholder="Type your message here..."
                ></input
                >
                <button
                    type="submit"
                    class="send-button text-light-gray-500 rounded-full cursor-pointer mr-1"
                >
                    <img
                        class="send-icon overflow-hidden"
                        src="/frontend/assets/icons/feather-blood-orange/send.svg"
                        alt="Send"
                    />
                </button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sendersSection = document.querySelector('.senders-section');
            const toggleSendersIcon = document
                .getElementById('toggleSendersIcon')
                .querySelector('img');
            const sendersContent = document.getElementById('sendersContent');
            const toggleSendersButton =
                document.getElementById('toggleSenders');
            const chatSection = document.getElementById('chatSection');
            const senderCards = document.querySelectorAll('.sender-card');
            const senderNameElement = document.querySelector(
                '.sender-name-display'
            );
            let isCollapsed = false;

            toggleSendersButton.addEventListener('click', () => {
                isCollapsed = !isCollapsed;
                if (isCollapsed) {
                    sendersSection.style.width = '75px';
                    toggleSendersIcon.src =
                        '/frontend/assets/icons/feather-light-black/chevron-right.svg';
                    messagesTitle.classList.add('hidden');
                    sendersContent.style.display = 'none';
                    chatSection.style.flexGrow = '1';
                } else {
                    sendersSection.style.width = '25%';
                    messagesTitle.classList.remove('hidden');
                    toggleSendersIcon.src =
                        '/frontend/assets/icons/feather-light-black/chevron-left.svg';
                    sendersContent.style.display = 'flex';
                    chatSection.style.flexGrow = '1';
                }
            });

            senderCards.forEach((card) => {
                card.addEventListener('click', () => {
                    const roomId = card.dataset.roomId;
                    window.location.href = `/messages?room=${roomId}`;
                });
            });
        });
    </script>
</div>
