:root{
  --site-bg: #0b1622;
}

:after, 
:before{
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0%;
}
.banner-text {
  text-align: center;
}

.buttonstack button{
  padding-block: 20px 15px;
  width: 30%;
  margin: 10px;
  display: block;
  font-family:Arial, sans-serif;
  text-align:center;
  
}

.topnav{
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.topnav ul{
  list-style-type: none;
  display: flex;
  text-decoration: none;
  gap: 75px;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-flow: row wrap;
  position: relative;
  
}

.topnav .active{
  padding-left: 0px;
  padding-right: 100px; 
  cursor: pointer;
  text-decoration: none;
  
}
.topnav a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.topnav a.active:visited{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
.topnav a:link{
  text-decoration: none;
}
.topnav a:visited{
  text-decoration: none;
}

.event-section{
  display: flex;
}
.event-section h2{
  padding-left: 50px;
  padding-bottom: 50px;
}
.event-card{
  padding-top: 100px;
  padding: 50px;
  text-align: center;
}
.event-title{
  font-size: 30px;
  margin: 0px;
}
.product-section{
  display: flex;
}
.product-card{
  padding: 50px;
  text-align: center;
}
.save-button{
  background: grey;
}

.search{
  display: flex;
  align-items: center;
}
.search-bar{
  align-self: center;
}
.search-filter{
  /*! height: 40px; */
}



.search-text{
  width: 300px;
  height: 20px;
  padding: 6px;
}
.search-button{
  height: 35px;
  width: 70px;
}


.aboutme-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
 
.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.name {
  text-align: center;
  
  
}
.bio  {
  text-align: center;
}