{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/views/layouts/layout.hbs --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Frontend/src/css/style.css"> 
    {{#each css}}
        <link rel="stylesheet" type="text/css" href="Frontend/src/css/{{this}}">
    {{/each}}
    {{#each js}}
        <script defer src="Frontend/src/js/{{this}}" type="text/javascript"></script>
    {{/each}}


    <title>{{title}}</title>
</head>
<body>
    {{> navbar}}
    {{{content}}}
</body>
</html>