{{! filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/partials/eventcard.hbs }}
<div class="event-collection">
  <div class="event-card">
    <div class = "event-img-section">
        <img class="event-img" src="{{thumbnail}}" />
        <span class="save-button-span">
            <button class="save-button" id="save-button">Save</button>
        </span>
    </div>
    
    <div class="event-info">
      <p class="event-date">{{date}}</p>
      <p class="event-title">{{title}}</p>
      <p class="event-host">{{host}}</p>
    </div>

  </div>
</div>