{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/partials/eventcard.hbs --}}
<div class = "event-list">
    <div class ="event-card">
        <img class = "event-img" src="{{thumbnail}}" >
        <button id = "save-button">Save Event</button>
        <div class = "event-info">
            <p class="event-date">{{date}}</p>
            <p class="event-title">{{title}}</p>
            <p class="event-host">{{host}}</p>
        </div>
       
        
    </div>
</div>