{{! filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/views/partials/navbar.hbs }}
<nav class="topnav">
  <ul>
    <li>

      <a class="active" href="/">Logo Placeholder</a>
    </li>

    <li class="search">

      <form
        class="search-bar"
        action="/search"
        method="GET"
        enctype="application/x-www-form-urlencoded"
      >
        {{log this}}
        <div class="search-filter">
          <select class="filter-dropdown" name="category" type="text">
            {{! <option selected="selected" value="All">All Categories</option> }}
            <option value="All">All</option>
            <option value="Books">Books</option>
            <option value="Electronics">Electronics</option>
            <option value="Furniture">Furniture</option>
          </select>
        </div>
        <input
          id="search-text"
          class="search-text"
          name="q"
          type="text"
          value="{{q}}"
          placeholder="Search..."
        />
        <button type="submit" class="search-button">
          <p class="search-button-text">Search</p>
        </button>
      </form>
    </li>
    <li>
      <a class="market-link" href="market">Market</a>
    </li>
    <li>
      <a class="events-link" href="events">Events</a>
    </li>
    <li>
      <a class="map-link" href="map">Map</a>
    </li>
    <li>
      <a href="profile">Profile</a>
    </li>

  </ul>
</nav>