{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/views/partials/navbar.hbs --}}
<nav class = "topnav">
    <ul>
        <li>
            
            <a class="active" href = "/">Logo Placeholder</a>
        </li>
        
        
        <li class="search">
            <div class="search-filter">
                <select>
                    <option value="All">All</option>
                    <option value="Books">Books</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Furniture">Furniture</option>
                </select>
            </div>
            <form class="search-bar" action="/listings/search" method="GET" enctype="application/x-www-form-urlencoded">
                <input id="search-text" class="search-text" name="searchValue" type="text"/>
                <button type="submit" class="search-button">Search</button>
            </form>

        <li>
            <a href="market">Market</a>
        </li>
        <li>
            <a href="events">Events</a>
        </li>
        <li>    
            <a href="map">Map</a>
        </li>
        
        
        
    </ul>
</nav>