<div class = "product-list">
    <div class ="product-card">
        <img class = "product-img" src="{{thumbnail}}" >
        <div class = "save-button">Save product</div>
        <div class = "product-info">
            <p class="product-name">{{title}}</p>
            <p class="product-price">{{host}}</p>
            <p class="product-condition">{{condition}}</p>
        </div>
       
        
    </div>
</div>