{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/searchresults.hbs --}}
<!DOCTYPE html>
<html lang="en">
{{!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/src/css/style.css">
    <title>{{title}}</title>
</head> --}}

    <div class="results-container">

        <div class="results-section">
            <h1 class="results-header">Results</h1>
            <p class="results-count">{{count}} Results found</p>
        </div>
        
        
       
        {{!-- <div class="event-section">
            <h2>Events</h2>
            {{#each events}}
                {{> eventcard}}
            {{/each}}
        </div> --}}

        
        <div class="product-section">
            <h2 class="product-header">Products</h2>
            {{#each products}}
                {{> productcard}}
            {{/each}}
        </div>
    </div>
