{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/search.hbs --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend/src/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">

        <div class="Results-Section">
            <h1>Results</h1>
            <h2>{{totalresults}} Results found</h2>
        </div>
        
        
       
        {{!-- <div class="event-section">
            <h2>Events</h2>
            {{#each events}}
                {{> eventcard}}
            {{/each}}
        </div> --}}

        
        <div class="product-section">
            <h2>Products</h2>
            {{#each products}}
                {{> productcard}}
            {{/each}}
        </div>
    </div>
</body>