<div class="flex-col bg-gray-100">
  <ul class="style-none">
    <h2>Filters</h2>
    <li>
      <h3>Price</h3>
      <input type="number" name="minPrice" placeholder="Min" />
      <p>To</p>
      <input type="number" name="maxPrice" placeholder="Max" />
    </li>
    <li class="flex-col">
      <h3>Condition</h3>
      <input type="checkbox" name="condition" value="new" />
      New
      <input type="checkbox" name="condition" value="used" />
      Used
      <input type="checkbox" name="condition" value="refurbished" />
      Refurbished
      <input type="checkbox" name="condition" value="open-box" />
      Open Box
      <input type="checkbox" name="condition" value="damaged" />
      Damaged

    </li>
    <li>
      <h3>Date Listed</h3>
      <input type="checkbox" name="dateListed" value="last24h" />
      Last 24 hours
      <input type="checkbox" name="dateListed" value="last7d" />
      Last 7 days
      <input type="checkbox" name="dateListed" value="last30d" />
      Last 30 days
      <input type="checkbox" name="dateListed" value="last90d" />
      Last 90 days
    </li>
  </ul>
</div>