<nav class="topnav">
  <ul>
    <li>

      <a class="active" href="/">Logo Placeholder</a>
    </li>

    <li class="search">

      <form
        class="search-bar"
        action="/search"
        method="GET"
        enctype="application/x-www-form-urlencoded"
      >
        {{log this}}
        <div class="search-filter">
          <select class="filter-dropdown" name="category" type="text">
            <option value="All" {{#if isAll}}selected{{/if}}>All</option>
            <option value="Books" {{#if isBooks}}selected{{/if}}>Books</option>
            <option value="Electronics" {{#if isElectronics}}selected{{/if}}>Electronics</option>
            <option value="Furniture" {{#if isFurniture}}selected{{/if}}>Furniture</option>
          </select>
        </div>
        <input
          id="search-text"
          class="search-text"
          name="q"
          type="text"
          value="{{q}}"
          placeholder="Search..."
        />
        <button type="submit" class="search-button">
          <p class="search-button-text">Search</p>
        </button>
      </form>
    </li>
    <li>
      <a class="market-link" href="market">Market</a>
    </li>
    <li>
      <a class="events-link" href="events">Events</a>
    </li>
    <li>
      <a class="map-link" href="map">Map</a>
    </li>
    <li>
      <a href="profile">Profile</a>
    </li>

  </ul>
</nav>

      