<div class="message-container self-end flex flex-row items-center object-center"> 
    <div class="message self-end bg-blood-orange-500 text-light-black-500 p-3 rounded-lg max-w-md mb-0 shadow-md">
        <p class="message-text">Hello, I am interested in your product. Is it still available?{{message}}</p>
    </div>
    <p class="message-timestamp self-end mr-4.5">10:04 A.M. {{timestamp}}</p>
</div>
