<div class="results-container flex flex-row justify-start gap-25 bg-light-gray-500 min-h-screen">
    {{> filter}}    
    <div class="results-section  text-center w-lg ">
        <h1 class="results-header font-bold text-3xl text-left mt-2">Results</h1>
        <p class="results-count text-base text-left">{{count}} Results found</p>
        <div class="event-section flex flex-col mt-6">
            {{#each events}}
                {{> eventcard}}
            {{/each}}
        </div>

        {{#if products}}
            <div class="product-section">
                <div class="product-list flex flex-col mt-6 gap-2">
                    {{#each products}}   
                        {{> productcard-search}}
                    {{/each}}
                </div>
                
            </div>
        {{else}}
            <p>No products found.</p>
        {{/if}}
    </div>  
</div>
