<div class="message-container self-start flex flex-col items-start">
  <p class="message-timestamp text-sm text-gray-500 mb-1 ml-2">{{timestamp}}</p>
  <div
    class="message bg-light-black-500 text-light-gray-500 p-3 rounded-lg max-w-md ml-2 shadow-md"
  >
    <p class="message-text">Hello, I am interested in your product. Is it still
      available?</p>
  </div>
</div>