<button
  class="sender-card bg-dark-gray-500 border border-dark-gray-500 cursor-pointer hover:bg-light-gray-500 w-[350] h-20 mx-4 rounded-3xl p-4 shadow-md flex flex-row gap-6"
>
  <img
    class="sender-pfp h-14 w-14 rounded-full justify-self-center"
    src="/frontend/Assets/icons/feather-light-black/user.svg"
  />
  <div class="sender-info flex flex-row w-full gap-2">
    <div class="flex flex-col text-left">
      <p class="sender-name font-bold text-lg">{{name}}</p>
      <p class="sender-last-message text-light-black-500 text-xs ">{{lastMessage}}</p>
    </div>
    <p
      class="sender-timestamp text-gray-500 ml-auto self-center text-[10px]"
    >{{timestamp}}</p>
  </div>
</button>