<div class="message-container self-start flex flex-row items-center w-4xl ">
    <div class="message self-start bg-light-black-500 text-light-gray-500 p-3 rounded-lg max-w-md ml-2 shadow-md">
        <p class="message-text">Hello, I am interested in your product. Is it still available?</p>
    </div>
    <p class="message-timestamp ml-auto self-end">10:04 A.M. {{timestamp}}</p>
</div>
