<div class="message-container self-end flex flex-col items-end">
  <div
    class="message bg-blood-orange-500 text-light-black-500 p-3 rounded-lg max-w-md mb-0 shadow-md"
  >
    <p class="message-text">{{message}}</p>
  </div>
   <p class="message-timestamp text-sm text-gray-500 mb-1 mr-2">{{timestamp}}</p>
</div>