<body>
    <div class="container">
        <header>
            <h1>About Me</h1>
        
        </header>
        <section class="about">
            <img src="{{profilePic}}" alt="Profile Picture" class = "profile-pic">
            <h2>{{name}}</h2>
            <p>{{bio}}</p> 
        </section> 
    </div>
    <script></script>
</body>