<div class="event-page-container">
    <div class="event-section">
        {{!-- <h2 class="upcoming-header">Upcoming Events</h2> --}}
        {{#each events}}
            {{> eventcard}}
        {{/each}}
    </div>
</div>