{{!-- filepath: /home/student/Documents/CSC_648/csc648-fa25-0104-team03/application/Frontend/src/views/index.hbs --}}




<div class="homepage-container">

        
    <div class="event-section">
        <h2 class="upcoming-header">Upcoming Events</h2>
        {{#each events}}
            {{> eventcard}}
        {{/each}}
    </div>

        
    <div class="product-section">
        <h2 class="featured-header">Featured Products</h2>
        {{#each products}}
            {{> productcard}}
        {{/each}}
    </div>
</div>
