<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars Example</title>
</head>
<body>
    <div id="greeting"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script id="aboutme-template" type="text/x-handlebars-template">
        <h1>About {{name}}</h1>
        <p>Test text</p>
    </script>
    <script src="script.js"></script>
</body>
</html>